@font-face {
  font-family: 'Univers Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Univers Condensed'), url(../static/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'fredericka';
  font-style: normal;
  font-weight: 400;
  src: local('fredericka'), url(../static/fredericka.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
  box-sizing: border-box;
  font-size: 12px;
  /* background: #8E24AA; */
  background: linear-gradient(45deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  text-align: center;
  font-family: 'Univers Condensed', Helvetica, monospace;
}

.display__time-left {
  font-weight: 100;
  font-size: 40rem;
  margin: 0;
  color:white;
  text-shadow:4px 4px 0 rgba(0,0,0,0.05);
}

.timer {
  display:flex;
  min-height: 100vh;
  flex-direction:column;
}

.timer__controls {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 6%;
  height:100%;
}

.timer__controls > * {
  flex:1;
}

.timer__controls form {
  flex:1;
  display:flex;
}

.timer__controls input {
  flex:1;
  border:0;
  padding:2rem;
  width:8%;
  text-align: center;
}

.timer__button {
  background:none;
  border:0;
  cursor: pointer;
  color:white;
  font-family:fredericka !important;
  font-size: 4rem;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  padding:1rem;
}

.timer__button:disabled{
  color:gray !important;
  cursor:progress !important;
}

.timer__button:hover,
.timer__button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display {
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  font-size: 4rem;
  color:white;
}

#stopBtn{
  cursor: pointer;
  font-size:3em;
}

#pauseBtn{
  cursor: pointer;
  font-size:2em;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blink {
  animation: blink 2s steps(1, end) infinite;
}